<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="/css/articles.css">
</head>
<body>
  <div class="articles__container">
    <h1>Current Article</h1>
    <p>Article name: <%= currentArticle.title %></p>
    <p>Content: <%= currentArticle.content %></p>
  </div>
</body>
</html>